<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1509807995916-c332365e2d9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2171&q=80);">
  <div class="container">
    <h1>The best <strong>cocktail</strong> library <strong>you could find</strong>!</h1>
    <p>Get inspired or create new coctails!</p>
  </div>
</div>


  <div class="how-we-work-card my-5">
    <h2>GET INSPIRED</h2>
      <div class="cards-container">
        <% i = 0 %>
          <% @cocktails.each do |cocktail| %>
          <%= link_to cocktail_path(cocktail) do %>
          <div class="card" id="cocktail-<%= i %>">
            <%= cocktail.name %>
          </div>
        <% i+=1 %>
       <% end %>
      <% end %>
    </div>
  </div>

  <div class="how-we-work-card my-5">
    <h4>
      <%= link_to 'CREATE', new_cocktail_path %> <i class="far fa-edit"></i>
    </h4>
  </div>

<hr>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This page is using the beautiful <i class="far fa-images"></i> thanks to unsplash.com
  </div>
</div>
